body {
    background: #D7E3F1;
    margin: 0;
    font-family: sans-serif;
}

nav {
    background-color: white;
    height: 120px;
}
.platformL {
    position: relative;
    height: 130px;
    width: 220px;
    margin-right: auto;
}
.mail {
    padding: 10px;
    float: right;
    width: 100px;
    height: 80px;
}

.profile, .loggut {
    padding: 10px;
    float: right;
    width: 80px;
    height: 80px;
}

.fag {
    width: 100%;
    text-align: center;
    }



.matte, .norsk, .engelsk {
    background-color: black;
    display: inline-block;
    margin: 5%;
}

button {
    background-color: lightblue;
    color: white;
    padding: 30px 50px;
    font-size: 20px;
}
button:hover {
    background-color: blue;
}
.boks {
    width: 300px;
    margin: auto;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: arial, sans-serif;
}

.oppgaver a {
    display: block;
    text-align: center;

}

#minDIV {
    width: 38rem;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background-color: lightblue;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.oppgaverVenstre, .oppgaverHoyre {
    width: 38rem;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background-color: lightblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
}

#innlevering {
    display: block;
    margin: 0 auto;
}

.nyOppgave {
    width: 48rem;
    margin: 0 auto;
}

#submit {
    padding: 2px 4px;
}